* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    transition: background-color 1s;
}

.darken {
    background-color: black;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    text-transform: uppercase;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.nav li {
    margin-left: 20px;
}

.nav li a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    display: block;
}

.nav li a .menu-btn {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(191, 18, 18, 1);
    border: 1px solid transparent;
    padding: 6px 12px;
}

.nav li.active {
    background-color: pink;
}

.nav li:hover {
    background-color: #575757; 
}



